
      <h1>Login or Register</h1>
      <form action="/loginpage" method = "get">
      <input type = "submit" value = "login"/>
      </form>
      <form action="/registerpage" method = "get">
      <input type = "submit" value = "register"/>
      </form>
      
      