      <div style="padding: 0; margin: 0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <!-- CSS only -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" 
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
      <link rel="stylesheet" href="styles/index.css">
      <div class="position-absolute h-100 w-100" style="z-index: 100" >
      <navbar id="team" class="d-flex justify-content-between px-4">
            <img id="logo" 
      src="Wit-Y.png">
      <a href="/teampage"><button class="btn  px-4 py-5 fs-1 text-white mb-auto" >TEAM</button></a></navbar>
      <h1 id="faded">FADED</h1>
      <style>
            h1{
                  text-shadow: 0 0 20px rgb(144, 129, 129);
            }
      </style>
      <h2 id="wity" class="mb-5 fs-7">WIT-Y</h2>

      <div class="d-flex justify-content-md-center mx-auto gap-3 flex-column flex-md-row align-items-center">

      <form action="/registerpage" class="" method = "get">
      <input class="btn btn-dark px-5 py-2 fs-1 border border-dark shadow-lg shadow-intensity-lg shadow-dark" type = "submit" value = "Register"/>
      </form>
      <form action="/loginpage" method = "get">
      <input class="btn btn-dark px-5 py-2 fs-1 border border-dark shadow-lg shadow-intensity-lg shadow-dark" type = "submit" value = "Login"/>
      </form>
      <form action="/rulebook" method="get">
      <input class="btn btn-dark px-5 py-2 fs-1 border border-dark shadow-lg shadow-intensity-lg shadow-dark" type="submit" value="Rulebook"/>
      </form>

      </div>
                  <div class="w-100 text-center p-3 fs-3 position-fixed bottom-0" style="background-color: #81818133;">
    © 2022 Copyright:
    <a class="text-black" >wity.techtatva@gmail.com</a>
  </div>
      </div>
    </div >
    <div class="area">
    <ul class="circles">         
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
</div>