<div style="padding: 0; margin: 0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <!-- CSS only -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" 
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
      <link rel="stylesheet" href="styles/login.css">
 <div class="position-absolute top-0 w-100 h-100 d-flex align-items-center">

        <div class="main-agileinfo ">
			<div class="agileits-top">
				<form action="/login" method="post" >
          <input class="text" type="text" placeholder="Learner's email-id" name="emailid" required="">
					<input class="text" type="password" placeholder="Password" name="password" required="">

					<div class="wthree-text">
						<div class="clear"> </div>
					</div>
					<input type="submit" value="LOGIN">
				</form>
				<p>Don't have an Account? <a href="/registerpage"> Register now!</a></p>
			</div>
		</div>
    </div >
</div>
<div class="area">
<ul class="circles">         
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
            </div>
            