<h4>Login</h4>
      <form action="/login" method="POST">
      <label>Username</label>
        <input
          type="text"
          name="username"
        /><br />
        <label>Login</label>
      <input
          type="password"
          name="password"
        /><br />
        <input type = "submit"/>
      </form>