<html>
   <div style="padding: 0; margin: 0">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <!-- CSS only -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" 
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
      <link rel="stylesheet" href="styles/profile.css">
      <div class="context">
  <div class="area d-flex flex-column justify-content-between" >
    <navbar class="d-flex justify-content-between fs-1 px-5 py-2 " style="color:#000000">
      <p>name</p>
      <p>score</p>
    </navbar>
      <div class="container mx-auto text-center">
           <h1 id="question">FADED</h1><br>
      <p class="fs-1 px-5 text-white text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
         industry's standard d ummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
          <input class="text mx-auto w-50 py-3 fs-2" type="text" placeholder="Enter your answer here" required="" name="answer">
          <input class="w-25 mx-auto fs-3 " type="submit" value="SUBMIT">
          </div>
          </div>
    </div>
            
      {{!-- <div class="card"> 
      <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
        <i class="checkmark">✓</i>
      </div>--}}
         <ul class="circles">         
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
    </div >
</html>