<h4>Question {{i}}</h4>
      
      <label>Question:</label>
        <p>{{question}}</p>
        <form action="/quiz" method="post">
        <label>Answer:</label>
      <input
          type="text"
          name="answer"
        /><br />
        <input type = "submit" value = "Next Question"/>
      </form>