<div style="padding: 0; margin: 0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <!-- CSS only -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, 
false); function hideURLbar(){ window.scrollTo(0,1); } </script>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" 
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
      <link rel="stylesheet" href="styles/register.css">
      <div class="position-absolute w-100 h-100 d-flex align-items-center" >
<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="/register" method="post" >
					<input class="text" type="text" placeholder="Full Name" required="" name="fullname">
					<input class="text email" type="text" placeholder="Registration/Application no." required="" name="regno">
          <input class="text" type="text" placeholder="Learner's email-id" required="" name="emailid">
          <input class="text" type="number" placeholder="Semester" required="" name="semester">
          <input class="text" type="text" placeholder="College Name" required="" name="colleges">
          <input class="text" type="text" placeholder="TeamId" required="" name="teamid">
          <input class="text" type="text" placeholder="Username" required="" name="username">
					<input class="text" type="password" placeholder="Password" required="" name="password">
					<input class="text w3lpass" type="password" placeholder="Confirm Password" required="" name="re_password">
					<div class="wthree-text">
						<div class="clear"> </div>
					</div>
					<input type="submit" value="SIGNUP">
				</form>
				<p>Have an Account? <a href="/loginpage"> Login Now!</a></p>
			</div>
		</div>
    </div >
    <div class="area">
    <ul class="circles">         
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
            </div>

