<h4>Register</h4>
      <form action="/register" method="post">
      <label>Username</label>
        <input
          type="text"
          name="username"
        /><br />
        <label>Login</label>
      <input
          type="password"
          name="password"
        /><br />
        <label>TeamID</label>
        <input
          type="text"
          name="TeamID"
        /><br />
        <input type = "submit"/>
        </form>