<div style="padding: 0; margin: 0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <!-- CSS only -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" 
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
      <link rel="stylesheet" href="styles/rulebook.css">
      <div class="area px-md-2 px-5" >
<h1 class="display-1 text-white px-5 py-5 text-center"><b>Event Description</b></h1>
<ul>
<li class="fs-1 text-white">Each team starts off on a landing page with a puzzle, decoding the puzzle
 leads to other links, which continue on in a similar fashion <br>with brainteasers etc, till a final page displaying that they have completed
the challenge.</li>
<li class="fs-1 text-white">Number of Rounds: 1</li><br>
</ul>
<h3 class="display-3 text-white px-5 "><b>Rules</b></h3>
<p><ol>
<li class="text-white fs-1">Team size: 3-5 members.</li>
<li class="text-white fs-1">Anything on the internet is fair game, but receiving help or providing assistance to</li>
<li class="text-white fs-1">Other teams are disallowed.</li>
<li class="text-white fs-1">The team leader should send in the links to each puzzle asap to the team members, and each
team’s progress is tracked.</li>
</ol>
<h3 class="display-3 text-white px-5"><b>Judging Criteria</b></h3><br>
<ul>
<li class="fs-1 text-white px-5">Winning teams are decided on a combination of time taken to reach the final solution and visiting all links in the challenge.
    </li>
</ul>
</p>
<ul class="circles">         
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
    </div >